.header {
    margin: 10px auto;
    background-color: none;
  
    .toolbar {
      --background: none;
    }
  
    .title {
      font-size: 24px;
      text-align: center;
      font-family: Indie Flower;
    }
  }

.menuBtn{
    width: 75%;
    font-size: 12px;
    text-align: center;
    --background: none;
    font-family: Inter;
    margin: auto auto 16px auto;
    border: 1.5px solid #FD7E14;
    border-image: linear-gradient(to right,#FD7E14, #9747FF) 1;
}

.exitBtn{
    width: 65%;
    font-size: 12px;
    text-align: center;
    font-family: Inter;
    margin: 45px auto;
    border: 2px solid #666;
}