<ion-content [fullscreen]="true">
  <ion-header [translucent]="true" class="header ion-no-border">
    <ion-toolbar class="toolbar">
      <ion-title class="title">Hoşgeldin Abuzer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item button detail class="menuBtn" routerLink="../send-notification">
    <ion-icon color="white" name="notifications"></ion-icon>
    <ion-label>Bildirim Gönder</ion-label>
  </ion-item>
  <ion-item button detail class="menuBtn">
    <ion-icon color="white" name="card"></ion-icon>
    <ion-label>Abone Gelirleri</ion-label>
  </ion-item>
  <ion-item button detail class="menuBtn" routerLink="../users-and-features">
    <ion-icon color="white" name="person"></ion-icon>
    <ion-label>Kullanıcılar ve Özellikleri</ion-label>
  </ion-item>
  <ion-item button detail class="menuBtn" routerLink="../feedback">
    <ion-icon color="white" name="happy"></ion-icon>
    <ion-label>Geri Bildirimler</ion-label>
  </ion-item>
  <ion-item button detail class="menuBtn" routerLink="../comment-panel">
    <ion-icon color="white" name="chatbubble"></ion-icon>
    <ion-label>Yorum Ekle ve Düzenle</ion-label>
  </ion-item>

  <ion-item button class="exitBtn">
    <ion-icon color="white" name="exit"></ion-icon>
    <ion-label>Admin Panelden Çıkış Yap</ion-label>
  </ion-item>
</ion-content>