.zodiac-type {
  display: flex;
  justify-content: center;

  .burcger-button {
    margin-block: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

    .menuBtn {
      font-family: Inter;
      font-size: 12px;
      --padding-end: 0;
      --padding-start: 0;
      --background: var(--burcger-background-color);
      --border-radius: 4px;
      width: 250px;
      --min-height: 32px;
      position: relative;
      border-radius: 4px; /* Apply border radius */
      padding: 2px; /* Adjust padding as needed */
      background: var(--burcger-linear-color); /* Apply linear gradient */
      color: white; /* Text color */

      &:before {
        content: "";
        position: absolute;
        top: -4px; /* Adjust the negative top value to create a border effect */
        right: -4px; /* Adjust the negative right value to create a border effect */
        bottom: -4px; /* Adjust the negative bottom value to create a border effect */
        left: -4px; /* Adjust the negative left value to create a border effect */
        border: 2px solid transparent; /* Set a transparent border */
        border-radius: 8px; /* Adjust the border radius to match the button border radius + border width */
      }
      .notification-icon {
        margin-left: 8px;
        margin-right: 4px;
      }
    }
  }
}

.date-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zodiac-inputs {
  display: flex;
  align-content: center;
  flex-direction: column;

  .burcger-button {
    margin-block: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

    .menuBtn {
      font-family: Inter;
      font-size: 12px;
      --padding-end: 0;
      --padding-start: 0;
      --background: var(--burcger-background-color);
      --border-radius: 4px;
      width: 250px;
      --min-height: 32px;
      position: relative;
      border-radius: 4px; /* Apply border radius */
      padding: 2px; /* Adjust padding as needed */
      background: var(--burcger-linear-color); /* Apply linear gradient */
      color: white; /* Text color */

      &:before {
        content: "";
        position: absolute;
        top: -4px; /* Adjust the negative top value to create a border effect */
        right: -4px; /* Adjust the negative right value to create a border effect */
        bottom: -4px; /* Adjust the negative bottom value to create a border effect */
        left: -4px; /* Adjust the negative left value to create a border effect */
        border: 2px solid transparent; /* Set a transparent border */
        border-radius: 8px; /* Adjust the border radius to match the button border radius + border width */
      }
      .notification-icon {
        margin-left: 8px;
        margin-right: 4px;
      }
    }
  }
  .zodiac-title{
    --highlight-color:var(--burcger-primary-purple);
  }

  .burc-comment {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .zodiac-text-area{
        --highlight-color:var(--burcger-primary-orange);
      }
    .save-icon {
      margin-block: 16px;
      --background: transparent;
      --border-style: none;
    }
  }
}
