<ion-content class="app-creators" [fullscreen]="true">
  <ion-card class="creators-card">
    <ion-card-content class="creators">
      <div class="user-img">
        <ion-thumbnail>
          <img
            class="user-profile-image"
            alt="User profile photo"
            src="assets/berke.jpg"
          />
        </ion-thumbnail>
        <ion-label class="comment-star"
          ><i class="fa-solid fa-star"></i> 4.5
        </ion-label>
      </div>
      <div class="user-all-info">
        <ion-item button detail (click)="presentModal()" class="user-name">Berke Erçetin</ion-item>
        <ion-item class="item-info">
            <p class="info">
              Kendini açıklama.... Lorem ipsum dolor sit amet, consectetur
              adipiscing elit 🤔. Morbi convallis sit amet est quis condimentum.
              Pellentesque vehicula
            </p>
        </ion-item>
        <ion-item button detail class="price-btn">
          21 ₺
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>