<ion-content>
  <div class="girisyapp">
    <ion-label class="parolaheader">Parolamı Unuttum</ion-label>
    <ion-label class="line"></ion-label>
    <ion-label class="parolayazi">Şifre yenileme kodunu gönderebilmemiz için lütfen
      kayıtlı E-Mail adresinizi yazınız.</ion-label>

    <ion-item class="girisyap" lines="none">
      <ion-input [(ngModel)]="email" class="input" type="email" placeholder="E-Mail Girin"></ion-input>
    </ion-item>

    <ion-button class="buton" (click)="resetPassword()" color="#281A28">
      <ion-label>Kod Yolla</ion-label>
    </ion-button>


  </div>
</ion-content>