<ion-content [fullscreen]="true">
  <ion-header [translucent]="true" class="ion-no-border">
    <ion-title class="title"><div style="white-space: normal;">Yorumlar hakkında yapılacak işlemi seçin ;</div></ion-title>
  </ion-header>

  <ion-item button detail class="menuBtn" routerLink="../add-comment">
    <ion-icon color="white" name="add"></ion-icon>
    Yorum Ekle
  </ion-item>

  <ion-item button detail class="menuBtn" routerLink="../comment-feedback">
    <ion-icon color="white" name="chatbubble-ellipses"></ion-icon>
    Yorum Geri Bildirimleri
  </ion-item>

  <ion-item button detail class="menuBtn" routerLink="../comments">
    <ion-icon color="white" name="person"></ion-icon>
    Yorum Düzenle
  </ion-item>

  <ion-buttons class="backBtn">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>

</ion-content>