<ion-header style="box-shadow: none;" [translucent]="true">
  <ion-toolbar color="transparent" class="my-profile-toolbar">
    <ion-item class="toolbar-icon" button (click)="navigateToHome('/main/home')" slot="start"
      ><i class="fa-solid fa-xmark"></i
    ></ion-item>
    <ion-item class="toolbar-icon" button slot="end"><i class="fa-solid fa-bell"></i></ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="app-my-profile ion-text-center">
  <ion-title class="welcome-text">Hesabım</ion-title>

  <ion-item
    class="user-welcome"
    color="var(--ion-background-color);"
    lines="none"
  >
    <div class="user">
      <div class="user-profile">
        <img src="assets/berke.jpg" class="user-profile-photo" />
      </div>
      <i class="premium-icon fa-regular fa-gem"></i>
      <i class="creator-icon fa-solid fa-book"></i>
    </div>
  </ion-item>
  <ion-text class="user-name-surname">Berke ERÇETİN</ion-text>

  <div class="burcger-box">
    <ion-item class="burcger-box-content ion-text-center">
      <div class="box-info"><i class="fa-solid fa-sun"></i>Güneş Burcu</div>
      <div class="box-info"><i class="fa-solid fa-moon"></i>Güneş Burcu</div>
      <div class="box-info">
        <i class="fa-solid fa-yin-yang"></i>Güneş Burcu
      </div>
    </ion-item>
  </div>

  <ng-container *ngFor="let button of buttons">
  <div class="burcger-button">
    <ion-item button detail class="menuBtn">
      <i class="notification-icon {{ button.icon }}"></i>
      {{ button.text }}
    </ion-item>
  </div>
</ng-container>
<div class="log-out">
  <ion-button class="log-out-logo ion-text-center"
    ><i class="fa-solid fa-right-from-bracket"></i
  ><p class="log-out-text">Çıkış Yap</p></ion-button>
</div>
</ion-content>
