<ion-content [fullscreen]="true">
  <ion-header [translucent]="true" class="ion-no-border" style="margin-top: 14rem;">
    <ion-title class="title"><div style="white-space: normal;">Yorumlar hakkında yapılacak işlemi seçin ;</div></ion-title>
  </ion-header>

  <ion-item button detail class="menuBtn" routerLink="../app-feedback">
    <ion-icon color="white" name="color-wand-outline"></ion-icon>
    <ion-label>Uygulama Geri Bildirimleri</ion-label>
  </ion-item>

  <ion-item button detail class="menuBtn" routerLink="../comment-feedback">
    <ion-icon color="white" name="chatbox-outline"></ion-icon>
    <ion-label>Yorum Geri Bildirimleri</ion-label>
  </ion-item>

  <ion-buttons class="backBtn">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>

</ion-content>