.header {
    align-items: center;

    .title {
        font-size: 16px;
        font-family: Inter;
        text-align: center;
        padding-right: 50px;
        justify-content: center;
    }
}

.background {
    background: #090A25;
    --background: #090A25 !important;
}

.options {
    --ion-grid-padding: 0;

    .elements {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .text {
        font-size: 12px;
    }

    .checkbox {
        --checkbox-background: none;
    }

}