.header {
    align-items: center;

    .toolbar {
        --ion-toolbar-background: none;
    }

    .title {
        font-size: 16px;
        font-family: Inter;
        text-align: center;
        padding-right: 50px;
        justify-content: center;
    }
}

.background {
    background: #090A25;
    --background: #090A25 !important;
}

.options {
    --ion-grid-padding: 0;

    .elements {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .text {
        font-size: 12px;
    }

    .checkbox {
        --checkbox-background: none;
    }

}


  .items{
    width: 90%;
    font-size: 14px;
    --background: none;
    font-family: Inter;
    margin: auto auto 16px auto;
  }
  
  .subject{
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #878787;
  }