<ion-content>
  <ion-title class="title">Burç Bilgileri</ion-title>
  <ion-label class="subtitle">Hesapladığınız doğum haritasını
    aşağıya giriniz.</ion-label>
    <ion-list class="selectList">
      <ion-item class="selectBox">
        <ion-select interface="action-sheet" placeholder="Güneş Burcu">
          <ion-select-option *ngFor="let element of array" value="{{element.name}}">{{element.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list class="selectList">
      <ion-item class="selectBox">
        <ion-select interface="action-sheet" placeholder="Ay Burcu">
          <ion-select-option *ngFor="let element of array" value="{{element.name}}">{{element.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  <ion-list *ngFor="let item of [].constructor(12);let i = index" class="selectList">
    <ion-item class="selectBox">
      <ion-select interface="action-sheet" placeholder="{{i +1}}. Ev">
        <ion-select-option *ngFor="let element of array" value="{{element.name}}">{{element.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button class="buton" color="#281A28">
    <ion-label>Yorumla</ion-label>
  </ion-button>
</ion-content>
