.commentView-toolbar {
    --min-height: 24px;
    .toolbar-icon {
      --background: transparent;
      --border-style: none;
      --min-height: 24px;
      --padding-top: 10px;
      --padding-bottom: 10px;
    }
  }