<ion-content class="app-my-comments" [fullscreen]="true">
  <ng-container *ngFor="let comment of comments; let i=index">
    <ion-card class="write-comment">
      <ion-card-header>
        <ion-card-title class="card-title"
          ><ion-title class="comment-star"
            ><i class="fa-solid fa-star"></i>4.5</ion-title
          ><ion-title class="comment-date"
            >Yorum Tarihi :{{comment.commentWriteDate}}</ion-title
          ></ion-card-title
        >
      </ion-card-header>

      <ion-card-content class="zodiac-comment">
        {{comment.commentText}}
      </ion-card-content>

      <ion-buttons class="comments-buttons">
        <ion-button fill="clear" id="feedback"
          ><i class="fa-solid fa-star"></i
        ></ion-button>
        <ion-button fill="clear"><i class="fa-solid fa-eye"></i></ion-button>
        <ion-button fill="clear" (click)="toggleDropdown(i)">
          <i
            [class]="isDropdownOpen[i] ? 'fa-solid fa-caret-up' : 'fa-solid fa-caret-down'"
          ></i></ion-button
      ></ion-buttons>

      <ion-popover class="feedback-popover" trigger="feedback" size="auto">
        <ng-template>
          <ion-content>
            <form [formGroup]="feedbackForm">
            <ion-list class="popeverlist">
              <ion-label>Yorumcuya fikirlerini belirtmeyi unutma!</ion-label>
              <div class="allStars">
                <i
                  *ngFor="let star of stars; let i = index"
                  [ngClass]="{ 'fas': star === 'star', 'far': star === 'star-outline' }"
                  (click)="selectStar(i)"
                  class="fa-star rating-star"
                ></i>
              </div>              

              <input formControlName="feedbackText" placeholder="Geri bildiriminiz:" class="feedbackInput" />

              <div class="buttonDiv">
                <ion-button class="submitButton" (click)="submitRating(comment.commentId!)"
                  >Submit</ion-button
                >
              </div>
            </ion-list>
          </form>
          </ion-content>
        </ng-template>
      </ion-popover>

      <ion-list class="dropdown-list" *ngIf="isDropdownOpen[i]">
        <ion-item class="item-info">
          <div>
            <p class="info">Burç Türü: Günlük</p>
            <p class="info">İstek Tarihi: 09/20/2023</p>
          </div>
        </ion-item>
      </ion-list>
    </ion-card>
  </ng-container>
</ion-content>
