<ion-header [translucent]="true" class="header ion-no-border">
  <ion-toolbar class="background">
    <ion-searchbar show-clear-button="always" placeholder="Kullanıcı Ara" class="background userSearch"
      [(ngModel)]="searchText" #searchbar></ion-searchbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-buttons class="btnFilter" slot="end">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <hr class="contentLine">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="feedbackCard" *ngFor="let user of users | filter: searchText" >
    <ion-accordion-group>
      <ion-accordion value="first" class="background">

        <ion-item slot="header" class="background">
          <ion-label>{{ user.name }} {{ user.surname }}</ion-label>
        </ion-item>

        <div class="ion-padding features" slot="content">
          <hr class="contentLine" style="background: linear-gradient(to right,#FD7E14, #9747FF) 1;">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="4" size-lg="2" class="elements">
                <ion-icon name="mail"></ion-icon>
                <ion-label>{{ user.email }}</ion-label>
              </ion-col>
              <ion-col size="12" size-md="4" size-lg="2" class="elements">
                <ion-icon *ngIf="user.verifiedEmail" name="checkmark"></ion-icon>
                <ion-icon *ngIf="!user.verifiedEmail" name="close"></ion-icon>
                <ion-label *ngIf="user.verifiedEmail">Dogrulanmış Hesap</ion-label>
                <ion-label *ngIf="!user.verifiedEmail">Dogrulanmamış Hesap</ion-label>
              </ion-col>
              <ion-col size="12" size-md="4" size-lg="2" class="elements">
                <ion-icon name="person"></ion-icon>
                <ion-label *ngIf="user.premium" class="premiumText">Premium Kullanıcı</ion-label>
                <ion-label *ngIf="!user.premium">Normal Kullanıcı</ion-label>
              </ion-col>
              <ion-col size="12" size-md="4" size-lg="2" class="elements">
                <ion-icon name="person"></ion-icon>
                <!-- <ion-toggle *ngIf="!user.contentCreator" [checked]="false" (click)="creator(user)">Icerik Ureticisi</ion-toggle>
                <ion-toggle *ngIf="user.contentCreator" [checked]="true" (click)="creator(user)">Icerik Ureticisi</ion-toggle>  -->
                <!-- <ion-toggle [(ngModel)]="!user.creator" (click)="creator(user)">Icerik Ureticisi</ion-toggle> -->
                <ion-toggle [checked]="user.contentCreator ? true : false" (click)="creator(user)">Icerik Ureticisi</ion-toggle>

              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>


  <ng-container *ngIf="loading">
    <ion-card class="notFound" *ngIf="(users | filter: searchText).length === 0">
      <ion-icon name="alert-circle"></ion-icon>
      <ion-label style="padding-left: 5px;">
        Böyle Bir Kullanıcı Yok
      </ion-label>
    </ion-card>
  </ng-container>
</ion-content>