.header {
  align-items: center;

  .title {
    font-size: 16px;
    font-family: Inter;
    text-align: center;
    justify-content: center;
  }

  .btnFilter {
    font-size: 24px;
    margin-right: 16px;
  }

  .userSearch {
    border: 0;
    --box-shadow: none;
  }
}

.background {
  background: #090A25;
  --background: #090A25 !important;
}

.contentLine {
  border-radius: 8px;
  background-color: #FD9843;
}

.feedbackCard {
  color: #ffffff;
  --background: none;
  border-radius: 4px;
  border: 2px solid #FD7E14;
  border-image: linear-gradient(to right, #FD7E14, #9747FF) 1;

  .features {
    font-size: 14px;
    text-align: center;
  }

  .elements {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .premiumText {
    background-clip: text;
    background: 
        linear-gradient(
            180deg, #FD7E14 0%, #9747FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.notFound{
  padding: 12px;
  display: flex;
  font-size: 20px;
  background: none;
  --color: white;
  box-shadow: none;
  align-items: center;
  justify-content: center;
}