<ion-header style="box-shadow: none" [translucent]="true">
  <ion-toolbar color="transparent" class="my-profile-toolbar">
    <ion-item
      class="toolbar-icon"
      button
      (click)="modalDismiss(true)"
      slot="start"
      ><i class="fa-solid fa-lg fa-xmark"></i
    ></ion-item>
    <ion-item (click)="navigateToPage('/main/notification')" class="toolbar-icon" button slot="end"
      ><i class="fa-solid fa-lg fa-bell"></i
    ></ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="app-my-profile ion-text-center" *ngIf="user">
  <ion-title class="welcome-text">Hesabım</ion-title>

  <ion-item
    class="user-welcome"
    color="var(--ion-background-color);"
    lines="none"
  >
    <div class="user">
      <div class="user-profile">
        <img
          src="{{user?.photoUrl}} || 'https://as1.ftcdn.net/v2/jpg/03/39/45/96/1000_F_339459697_XAFacNQmwnvJRqe1Fe9VOptPWMUxlZP8.jpg' "
          class="user-profile-photo"
        />
      </div>
      <i *ngIf="user.premium" class="premium-icon fa-regular fa-gem"></i>
      <i *ngIf="user.contentCreator" class="creator-icon fa-solid fa-book"></i>
    </div>
  </ion-item>
  <ion-text class="user-name-surname">{{user.name}} {{user.surname}}</ion-text>

  <div class="burcger-box">
    <ion-item class="burcger-box-content ion-text-center">
      <div class="box-info"><i class="fa-solid fa-sun"></i>Güneş Burcu</div>
      <div class="box-info"><i class="fa-solid fa-moon"></i>Güneş Burcu</div>
      <div class="box-info">
        <i class="fa-solid fa-yin-yang"></i>Güneş Burcu
      </div>
    </ion-item>
  </div>

  <ng-container *ngFor="let button of pageButtons">
    <div button class="burcger-button" (click)="navigateToPage(button.route)">
      <ion-item detail class="menuBtn">
        <i class="notification-icon {{ button.icon }}"></i>
        {{ button.text }}
      </ion-item>
    </div>
  </ng-container>
  <ng-container *ngFor="let button of modalButtons">
    <div button class="burcger-button" (click)="tokenModal(user.coin, button.modal)">
      <ion-item detail class="menuBtn">
        <i class="notification-icon {{ button.icon }}"></i>
        {{ button.text }}
      </ion-item>
    </div>
  </ng-container>
  <div class="log-out">
    <ion-button class="log-out-logo ion-text-center" (click)="singOut()"
      ><i class="fa-solid fa-right-from-bracket"></i>
      <p class="log-out-text">Çıkış Yap</p></ion-button
    >
  </div>
</ion-content>
