<ion-content [fullscreen]="true">
  <ion-header [translucent]="true" class="header ion-no-border">
    <ion-toolbar class="toolbar">
      <ion-title class="title"> Yorum Düzenle </ion-title>
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form">
    <ion-item class="select items" placeholder="">
      <ion-select *ngFor="let zc of zodiacComment" label="{{zc.zodiac}}" formControlName="zodiac">
        <ion-select-option value="Koç">Koç</ion-select-option>
        <ion-select-option value="Boğa">Boğa</ion-select-option>
        <ion-select-option value="İkizler">İkizler</ion-select-option>
        <ion-select-option value="Yengeç">Yengeç</ion-select-option>
        <ion-select-option value="Aslan">Aslan</ion-select-option>
        <ion-select-option value="Başak">Başak</ion-select-option>
        <ion-select-option value="Terazi">Terazi</ion-select-option>
        <ion-select-option value="Akrep">Akrep</ion-select-option>
        <ion-select-option value="Yay">Yay</ion-select-option>
        <ion-select-option value="Oğlak">Oğlak</ion-select-option>
        <ion-select-option value="Kova">Kova</ion-select-option>
        <ion-select-option value="Balık">Balık</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="select items" placeholder="">
      <ion-select *ngFor="let zc of zodiacComment" [label]="form.controls.commentType.value || 'Yorum Türü'" formControlName="commentType">
        <ion-select-option value="Günlük">Günlük ile Değiştir</ion-select-option>
        <ion-select-option value="Haftalık">Haftalık ile Değiştir</ion-select-option>
        <ion-select-option value="Aylık">Aylık ile Değiştir</ion-select-option>
        <ion-select-option value="Yıllık">Yıllık ile Değiştir</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="commentItem items">
      <ion-textarea *ngFor="let zc of zodiacComment" placeholder="Yorum Başlığını Düzenle." value="{{zc.title}}"
        formControlName="title"></ion-textarea>
    </ion-item>

    <ion-item class="commentItem items" (click)="photo.click()">
      <ion-label style="color: rgba(217, 217, 217, 0.6)" *ngFor="let zc of zodiacComment">{{zc.photoUrl}}</ion-label>
      <ion-icon name="image-outline"></ion-icon>
    </ion-item>
    <input type="file" #photo style="display: none" />

    <ion-item class="commentItem editComment items" lines="none">
      <ion-textarea placeholder="Yorumu Düzenle." [autoGrow]="true" *ngFor="let zc of zodiacComment"
        formControlName="comment" value="{{zc.comment}}">
      </ion-textarea>
    </ion-item>

    <ion-button id="present-alert" class="saveBtn" (click)="updateData()">Kaydet<ion-icon slot="start"
        name="save"></ion-icon></ion-button>
    <ion-alert trigger="present-alert" subHeader="Değişiklikler Kaydedildi." 
      [buttons]="alertButtons"></ion-alert>

  </form>
</ion-content>