body {
    font-family: "Roboto";
}

.forBackAndEdit{
    font-size: 25px;
    margin: 45px 10px 10px 10px;
}

ion-icon {
   
    
    &.photo-icon {
        margin: auto;
        display: block;
        font-size: 72px;
        margin-top: 19px;
    }
}

.name {
    display: flex;
    color: white;
    font-size: 18px;
    margin: 10px 10px 15px 10px;
    font-weight: 500;
    line-height: 30px;
    justify-content: center;
}

.forBottomBorder{
    border-bottom: solid 1px #FD9843;
}

ion-list {
    padding: 0;
    background: none;
    margin: 0 16px 23px 16px;
    .input { --background: none; 
    color: #D9D9D9;}
}

img {
    width: 120px;
    height: 120px;
    border-radius: 999999px;
}

ion-col {
    display: flex;
    padding-top: 18px;
    text-align: center;
    align-items: center;
    padding-bottom: 18px;
    flex-direction: column;
}

ion-item{
    --background: none;
}

.buton{
    display: flex;
    margin-top: 16px;
    color: #FD7E14;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    text-align: center;
    width: min-content;
    background: #D9D9D9;
    border-right: 4px solid #FD7E14;
    border-bottom: 4px solid #FD7E14;
}
